<%- include("../partial/header")%>
<%- include("./partials/user_header")%>
        <%= userList %>
        <ul>
            <% for (user of userList) { %>
                <li> <a href="/user/<%= user%>"><%= user%></a></li>

            <% } %>

        </ul>

<%- include("../partial/footer")%>